/* --------- Global style */

body {
    background-color: white;
    font-family: "Raleway", sans-serif;
    color: #445361;
    text-align: center;
}

/* --------- Heading */

.heading {
    text-align: center;
    font-size: 2.5rem;
    margin: 5px 0;
}

.logo {
    height: 40px;
    padding-right: 5px;
}

/* --------- Game layout */

.game-area {
    background-color: #E6ECF0;
    box-sizing: border-box;
    width: 90%;
    height: 90vh;
    max-height: 550px;
    max-width: 840px;
    margin-left: auto;
    margin-right: auto;
    padding: 1%;
}

.controls-area {
    width: 85%;
    margin: 0 auto;
}

#whos-next {
    border: 2px solid #445361;
    color: rgb(247, 240, 154);
    display: inline-block;
    height: 25px;
    width: 175px;
    font-size: 1.2rem;
    font-weight: bold;
    text-align: center;
    padding: 3px 0;
    letter-spacing: 0.5px;
    margin: 5px;
}

.board-area {
    width: 90%;
    font-size: 2rem;
    margin: 0 auto;
    margin-top: 10px;
    padding: 5px 0;
}

#game-board {
    border-collapse: collapse;
    border: 16px solid yellow;
    letter-spacing: 1px;
    font-size: 0.8rem;
    margin: 5px auto;
    border-top: 0;
}
      
#game-board td, th {
    border: 8px solid yellow;
    padding: 5px;
}
      
#game-board th {
    background-color: rgb(235,235,235);
    border-top: 0;
}
      
#game-board td {
    text-align: center;
}

.counter {
    background-color: white;
    display: block;
    height: 30px;
    width: 30px;
    border-radius: 50%;
}

.score-area {
    margin: 5px auto;
    width: 60%;
    font-size: 1.2rem;
    font-weight: bold;
}

#score-red {
    color: red;
    font-weight: bold;
}

#score-blue {
    color: blue;
    font-weight: bold;
}

.scores {
    display: inline-block;
    padding: 3px;
    margin: 0;
}

.rules-area {
    text-align: left;
}

/* --------- Button */

#new-game {
    width: 150px;
    height: 40px;
    font-family: "Raleway", sans-serif;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 1.2px;
    color: white;
    /* margin-top: 10px; */
    margin: 5px;
    background-color: #445361;
    border: 1px transparent;
    border-radius: 10px;
}

#new-game:focus {
    outline: none;
}

#new-game:active,
#new-game:hover {
    background-color: #0d1013;
}

/* --------- Media queries */

@media (max-width: 414px) {
    .controls-area {
        width: 100vw;
    }

    .game-area {
        padding: 5% 0;
        width: 100vw;
    }

    #new-game {
        margin-top: 0;
    }

    .score-area {
        width: 100vw;
    }

    .scores {
        margin: 0.5em auto;
        display: block;
        padding: 5px;
    }

    .heading {
        font-size: 2rem;
    }
}

@media (max-width: 320px) {
    .heading {
        font-size: 2rem;
    }

    .game-area {
        height: 100vh;
        width: 320px;
    }

    #new-game {
        margin-top: 0;
        height: 20px;
        border-radius: 5px;
    }

    #whos-next {
        border: 1px solid #445361;
        height: 20px;
        width: 175px;
        font-size: 1rem;
        padding: 1px 0;
        letter-spacing: 0.2px;
        margin: 5px;
    }
    
    .counter {
        height: 20px;
        width: 20px;
    }

    .scores {
        margin: 0;
        padding: 0;
    }
}